<% include pageHeader %>
<% include pageNavbar %>

<div class="container-fluid">
    <div class="row justify-content-center">

        <ul class="col-sm-10 space-before-40">
            <li class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <a class="h3 display-4"
                                   href="/tender/<%= res.tpl.app._tender._id %>"><%= res.tpl.app._tender.title %></a>
                            </div>
                            <div class="col-sm-4 text-right">
                                <% if ( req.session.passport.user.permission > 2 || req.session.passport.user.internal_id == res.tpl.app._user.bme_id ) { %>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                        data-target="#deleteModal">Delete
                                </button>
                                <a class="btn btn-outline-secondary btn-sm"
                                   href="/app/<%= res.tpl.app._id %>/mod">Edit</a>
                                <% } %>
                                <a class="btn btn-outline-secondary btn-sm"
                                   href="/user/<%= res.tpl.app._user._id %>"><%= res.tpl.app._user.name %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <% res.tpl.appParts.forEach( function (appPart) { %>
                        <div class="container">
                            <div class="row space-before-10">

                                <div class="col-sm-4">
                                    <div class="d-flex justify-content-start">
                                        <div class="p-2 align-self-center">
                                            <h5>
                                                <strong data-toggle="tooltip" data-placement="top" title="<%= appPart._tender_part.description %>">
                                                    <% if ( appPart._tender_part.type != 4 && appPart._tender_part.type != 0 ) { %>
                                                        <%= appPart._tender_part.title %>
                                                        <% if ( appPart._tender_part.required ) { %>
                                                            *
                                                        <% } %>
                                                    <% } %>
                                                </strong>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="d-flex justify-content-start">
                                        <div class="p-2 align-self-center">
                                            <p>
                                                <% if ( appPart._tender_part.type == 1 ) { %>
                                                <%= appPart.content %>
                                                <% } %>

                                                <% if ( appPart._tender_part.type == 3 ) { %>
                                                <a href="">
                                                    <%= appPart.content %>
                                                </a>
                                                <% } %>

                                                <% if ( appPart._tender_part.type == 4 ) { %>
                                            <div class="space-before-20"></div>
                                            <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="d-flex justify-content-between">
                                        <% if ( appPart._tender_part.scorable ) { %>
                                            <div class="p-2 align-self-center">
                                                <% if ( appPart._score != undefined ) { %>
                                                    <h5 data-toggle="tooltip" data-placement="top" title="<%= appPart._score.comment %>"><%= appPart._score.value %> point</h5>
                                                <% } %>
                                            </div>

                                            <div class="p-2 align-self-center">
                                                <% if ( appPart._score != undefined ) { %>
                                                    <h5 data-toggle="tooltip" data-placement="top" title="<%= appPart._score.comment %>">
                                                        <% switch (appPart.status) {
                                                            case 0: %>
                                                                Checked
                                                                <% break;
                                                            case 1: %>
                                                                Processing
                                                                <% break;
                                                            case 2: %>
                                                                Accepted
                                                                <% break;
                                                            case 3: %>
                                                                Rejected
                                                                <% break;
                                                        } %>
                                                    </h5>
                                                <% } %>
                                            </div>
                                            <div class="p-2 align-self-start">
                                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                                                        data-target="#scoreModal<%= appPart._id %>">Evaluate
                                                </button>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <% if ( appPart._tender_part.type == 2 ) { %>
                        <div class="row justify-content-md-center">
                            <div class="col-11">
                                <p class="text-justify">
                                    <%= appPart.content %>
                                </p>
                            </div>
                        </div>
                        <% } %>

                        <% }); %>

                    </li>

                    <li class="list-group-item">
                        <div class="d-flex justify-content-around">
                            <div class="p-2 align-self-center">
                                <h3><%= res.tpl.app.final_score %></h3>
                            </div>
                            <div class="p-2 align-self-center">
                                <button type="button" class="btn btn-secondary">Final evaluation</button>
                            </div>
                        </div>
                    </li>

                </ul>
    </div>
</div>

</div>
</div>


<% res.tpl.appParts.forEach( function (appPart) { if( appPart._tender_part.scorable ) { %>
<div class="modal fade" id="scoreModal<%= appPart._id %>" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" action="/score/<%= res.tpl.app._id %>/<%= appPart._id %>">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Evaluation (<%= appPart._tender_part.title %>)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="type">Type</label>
                            <select class="col-md-8 form-control" id="type" name="status" required>
                                <option value="0" <% if ( appPart.status == 0) { %> selected <% } %> >Checked</option>
                                <option value="1" <% if ( appPart.status == 1) { %> selected <% } %> >Processing</option>
                                <option value="2" <% if ( appPart.status == 2) { %> selected <% } %> >Accepted</option>
                                <option value="3" <% if ( appPart.status == 3) { %> selected <% } %>>Rejected</option>
                            </select>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="score">Score</label>
                            <input type="number" name="value" class="col-md-8 form-control" id="score" <% if ( appPart._score != undefined ) { %> value="<%= appPart._score.value %>" <% } %> >
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="comment">Comment</label>
                            <input type="text" name="comment" class="col-md-8 form-control" id="comment" <% if ( appPart._score != undefined ) { %> value="<%= appPart._score.comment %>" <% } %> >
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-info">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% }}) %>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">WARNING!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are trying to delete an application. Once it's deleted, it can't be restored.
                <br>
                Please pay attention to it!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="/app/<%= res.tpl.app._id %>/del">Delete</a>
            </div>
        </div>
    </div>
</div>

<% include pageFooter %>