<% include pageHeader %>
<% include pageNavbar %>

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-sm-10 space-before-40">
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="display-4">
                                    <%= res.tpl.tender.title %>
                                </h1>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span class="badge badge-info h6">BSc</span>
                                <span class="badge badge-info h6">Koli</span>
                                <span class="badge badge-info h6">Heti</span>
                                <% if ( req.isAuthenticated() ) { %>
                                <br>
                                <% if ( req.session.passport.user.permission > 2 ) { %>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                        data-target="#deleteModal">Delete
                                </button>
                                <% } %>
                                <% if ( req.session.passport.user.permission > 0 && res.tpl.tender.start_datetme > Date.now() || req.session.passport.user.permission === 3 ) { %>
                                <button class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                                        data-target="#modModal">Edit
                                </button>
                                <% } %>
                                <% if ( req.session.passport.user.permission > 0 ) { %>
                                <a class="btn btn-outline-secondary btn-sm"
                                   href="/tender/<%= res.tpl.tender._id %>/part">Parts</a>
                                <% } %>
                                <% if ( res.tpl.tender.start_datetime < Date.now() && Date.now() < res.tpl.tender.end_datetime ) { %>
                                <a class="btn btn-outline-secondary btn-sm" href="/app/add/<%= res.tpl.tender._id %>">Submit</a>
                                <% }%>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="card-img-top" src="http://via.placeholder.com/259x180" alt="Card image cap">
                            </div>
                            <div class="col-sm-8">
                                <p class="lead text-justify">
                                    <%= res.tpl.tender.description %>
                                </p>
                            </div>
                            <div class="col-sm-6 space-before-20">
                                Attachment:
                                <a href="">datasheet_template</a>,
                                <a href="">tender_description</a>
                            </div>
                            <div class="col-sm-3 text-center space-before-20">
                                <h6>
                                    <%= res.tpl.tender._publisher.name %>
                                </h6>
                            </div>
                            <div class="col-sm-3 text-center space-before-20">
                                <h6>
                                    <%= res.tpl.func.moment(res.tpl.tender.start_datetime).format('YYYY-MM-DD') %>
                                    - <%= res.tpl.func.moment(res.tpl.tender.end_datetime).format('YYYY-MM-DD') %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% if ( req.isAuthenticated() && req.session.passport.user.permission === 3 ) { %>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" action="/tender/<%= res.tpl.tender._id %>/del">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">WARNING!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are trying to delete a tender and all the applications that received for it. After delete, can't
                    be restored.
                    <br>
                    Please pay attention to it!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% } %>
<% if ( req.isAuthenticated() && req.session.passport.user.permission > 0) { %>

<div class="modal fade" id="modModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit datas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/tender/<%= res.tpl.tender._id %>/mod" method="post">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="title">Title</label>
                            <input type="text" name="title" class="col-md-8 form-control" id="title"
                                   value="<%= res.tpl.tender.title %>" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label" for="short_description">Short description</label>
                            <input type="text" name="short_description" class="col-md-8 form-control"
                                   id="short_description" value="<%= res.tpl.tender.short_description %>" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="long_description">Long description</label>
                            <textarea name="long_description" class="form-control" id="long_description"
                                      required><%= res.tpl.tender.description %></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="startdate" class="col-form-label col-sm-6">Application period start date</label>
                            <div class="input-group col-sm-6">
                                <input type="text" name="startdate" id="startdate" class="form-control text-center"
                                       value="<%= res.tpl.func.moment(res.tpl.tender.start_datetime).format('YYYY-MM-DD') %>"
                                       required>
                            </div>
                            <label for="enddate" class="col-form-label col-sm-6">Application period end date</label>
                            <div class="input-group col-sm-6">
                                <input type="text" name="enddate" id="enddate" class="form-control text-center"
                                       value="<%= res.tpl.func.moment(res.tpl.tender.end_datetime).format('YYYY-MM-DD') %>"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-info" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% } %>
<% include pageFooter %>