<% include pageHeader %>

<% include pageNavbar %>

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-sm-10 space-before-40">
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="display-4" >
                                    <%= res.tpl.tender.title %>
                                </h1>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span class="badge badge-info h6">BSc</span>
                                <span class="badge badge-info h6">Koli</span>
                                <span class="badge badge-info h6">Heti</span>
                                <% if ( req.isAuthenticated() ) { %>
                                    <br>
                                    <% if ( req.session.passport.user.permission > 2 ) { %>
                                        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal" >Delete</button>
                                    <% } %>
                                    <% if ( req.session.passport.user.permission > 0 ) { %>
                                        <a class="btn btn-outline-secondary btn-sm" href="/tender/<%= res.tpl.tender._id %>/mod">Edit</a>
                                    <% } %>
                                    <% if ( req.session.passport.user.permission > 0 ) { %>
                                        <a class="btn btn-outline-secondary btn-sm" href="/tender/<%= res.tpl.tender._id %>/part">Parts</a>
                                    <% } %>
                                    <a class="btn btn-outline-secondary btn-sm" href="/app/add/<%= res.tpl.tender._id %>">Submit</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="card-img-top" src="http://via.placeholder.com/259x180" alt="Card image cap">
                            </div>
                            <div class="col-sm-8">
                                <p class="lead text-justify">
                                    <%= res.tpl.tender.description %>
                                </p>
                            </div>
                            <div class="col-sm-6 space-before-20">
                                Attachment:
                                <a href="">datasheet_template</a>,
                                <a href="">tender_description</a>
                            </div>
                            <div class="col-sm-3 text-center space-before-20">
                                <h6>
                                    <%= res.tpl.tender.publisher.name %>
                                </h6>
                            </div>
                            <div class="col-sm-3 text-center space-before-20">
                                <h6>
                                    <%= res.tpl.func.moment(res.tpl.tender.start_datetime).format('YYYY-MM-DD') %> - <%= res.tpl.func.moment(res.tpl.tender.end_datetime).format('YYYY-MM-DD') %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% if ( req.isAuthenticated() && req.session.passport.user.permission === 3 ) { %>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" action="/tender/<%= res.tpl.tender._id %>/del">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">WARNING!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are trying to delete a tender and all the applications that received for it. After delete, can't be restored.
                    <br>
                    Please pay attention to it!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" >Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% } %>

<% include pageFooter %>